# Standard ignores
*~
*.swp
*.dpi
# Ignores of files that get created, but shouldn't be added to git
modules/DP-iCalendar/Makefile
modules/DP-iCalendar/blib/
modules/DP-iCalendar/pm_to_blib
modules/Date-HolidayParser/Makefile
modules/Date-HolidayParser/blib/
modules/Date-HolidayParser/pm_to_blib
