# Standard ignores
*~
*.swp
*.dpi
# Ignores of files that get created, but shouldn't be added to git
modules/DP-iCalendar/Makefile
modules/DP-iCalendar/blib/
modules/DP-iCalendar/pm_to_blib
modules/external
doc/dayplanner.desktop
packages/
po/dayplanner.pot
locale/
# Manpages
dayplanner*.1
